footer.footer
      .footer__logo-box
      .row
        .col-1-of-2
          .footer__navigation
            ul.footer__list
              li.footer__item
                a.footer__link(href='#') Công ty
              li.footer__item
                a.footer__link(href='#') Liên hệ với chúng tôi
              li.footer__item
                a.footer__link(href='#') Sự nghiệp
              li.footer__item
                a.footer__link(href='#') Chính sách
              li.footer__item
                a.footer__link(href='#') Điều kiện
        .col-1-of-2
          p.footer__copyright
            |Được thành lập từ năm 2008 giữa lúc nền kinh tế trong nước và Quốc tế đang suy thoái, Du Lịch Việt xuất hiện trên thị trường du 
            |lịch Việt Nam với sản phẩm du lịch trong nước và Quốc tế chất lượng cao, giá thành rẻ đến bất ngờ. Từ những đường tour du lịch
            |nội địa…cùng các sản phẩm dịch vụ du lịch đa dạng, nhận được sự phản hồi tích cực của khách hàng như: Du lịch trọn gói trong 
            |nước khởi hành hàng ngày; Du lịch nghỉ dưỡng cao cấp, Trăng mật lãng mạn, Khám phá mạo hiểm.
